body {
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
  background-image: url(/imgs/bg.png);
}


 #canvas-container {
  overflow: hidden;
  font-size: 40px;
  color: #E8E8E8;
  display: block;
  width: 60%;
  height: 60%;
  min-height: 557px;
  margin: 30px auto 0 auto;
  background-color: #49604c;
  padding: 20px 30px;
  overflow-y: auto;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: #cdad87 solid 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-shadow: 0px 6px 22px 8px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 6px 22px 8px rgba(0,0,0,0.08);
  box-shadow: 0px 6px 22px 8px rgba(0,0,0,0.08);
}

#canvas-container:after {
  content: "";
  display: block;
  position: fixed;
  -webkit-border-radius: 0.1em 0.1em 0 0.1em;
  -khtml-border-radius: 0.1em 0.1em 0 0.1em;
  -moz-border-radius: 0.1em 0.1em 0 0.1em;
  -ms-border-radius: 0.1em 0.1em 0 0.1em;
  -o-border-radius: 0.1em 0.1em 0 0.1em;
  border-radius: 0.1em 0.1em 0 0.1em;
  width: 50px;
  height: 8px;
  background: #f1f1f1;
  top: 60%;
  margin-top: 75px;
  margin-right: 60px;
  right: 20%;
  box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.3);
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.buttons-container {
  text-align: center;
  margin-top: 20px;
}

.buttons-container button, select {
  margin: 5px;
  vertical-align: middle;
}



.figure-button, .clear-button, .undo-button, .redo-button, .color-select {
  background-color: #333; 
  color: white;
  padding: 9px 29px;
  text-align: center;
  text-decoration: none;
  display: table-cell;
  font-size: 16px;
  height: 46px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  transition: background-color 0.4s ease;
}

.color-select {
  text-align: left;
}

.figure-button:hover, .clear-button:hover, .undo-button:hover, .redo-button:hover {
    background-color: #007bff;
}

.figure-button {
    background-color: red;
}

.figure-button.active {
  background-color: #007bff;
}

@media (max-width: 700px) {
  .buttons-container {
    margin-top: 10px;
  }
}  